<!-- Add these classes to your table -->
<!-- <table class="table table-striped table-bordered table-hover table-sm stylish-table"> -->
<table class="table table-bordered table-hover table-sm stylish-table">
  <thead>
    <tr>
      <th *ngFor="let x of columns">{{x}}</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let y of callData" [ngClass]="getRowClass(y['Longest Waiting Call'])"> -->
    <!-- <tr *ngFor="let y of callData" [ngClass]="{'table-primary': true}"> -->
    <tr *ngFor="let y of callData" style="background: rgba(255, 0, 0, 0.3) !important;">
    <!-- <tr *ngFor="let y of callData" [ngClass]="[class_table]"> -->
      <td *ngFor="let c of columns">{{y[c]}}</td>
    </tr>
  </tbody>
</table>

